body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #091b33;
}

.btn-custom {
  background-color: #091b33;
  color: white;
  font-size: 20px;
  width: 10em;
  text-align: center;
}

.btn-custom:hover {
  color: white;
  box-shadow: 1px 1px 1px rgb(30, 30, 30);
  -moz-box-shadow: 1px 1px 1px rgb(30, 30, 30);
  -webkit-box-shadow: 1px 1px 1px rgb(30, 30, 30);
  -khtml-box-shadow: 1px 1px 1px rgb(30, 30, 30) 30;
}

/* Animate btns */
.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.03);
}
.card {
  margin: 0 auto;
}